h1, p {
  text-align: center;
}

table {
  width: 100%;
  min-width: 60vw;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-spinner {
  margin-top: 40px;
}

mat-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-paginator {
  margin-top: 20px;
  margin-bottom: 20px;
}
